<!--The content below is only a placeholder and can be replaced.-->
 <div class="top-header">
  <div class="container">
  <div class="row">
  <div class="col-sm-4 logo-left">
  <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""/></a></div>
  </div>
    <div class="col-sm-8 nav-right">
<div class="top-single"><a href="#">support</a> <a [routerLink]="['contact']">contact</a></div>
  <div class="navigation">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"   href="#">products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['membership']"  >memberships</a>
      </li><!-- [routerLink]="['register']" -->
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['createprofile']">profiles</a>
      </li>
	      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['imagelibrary']" >image libaray</a>
      </li>    <li class="nav-item">
        <a class="nav-link disabled" href="#">login</a>
      </li>
    </ul>
  </div>
</nav>
</div>
  </div>
  </div>
  </div>
  </div>
  <!-- <div class="sign-sec">
	  <div class="container">
		  <div class="row">
<div class="col-sm-4 sign-left">
				  <div class="sign-button">
					<a [routerLink]="['signup']">sign up</a><a href="#">trial</a>
				  </div>
			  </div>
</div>
	  </div>
  </div> -->

