      <div class="footer-section">
  <div class="container">
  <div class="row">
  <div class="col-sm-5 footer-col col-one">
  <div class="inner-col">
  <div class="tittle">our products</div>
  <ul>
  <li><a [routerLink]="['meetdartakey']">dartakey code/label/microchip</a></li>
    <li><a href="#">Product Updates</a></li>
	  <li><a [routerLink]="['inventory']">Inventory</a></li>
	    <li><a href="#">Tips and Tricks</a></li>
		  <li><a href="#">Provenance</a></li>
		    <li><a href="#">Free Trial</a></li>
			  <li><a href="#">Resale royalties</a></li>
			    <li><a href="#">Insurance discounts</a></li>
  </ul>
  </div>
  </div>
    <div class="col-sm-2 footer-col col-two">
    <div class="inner-col">
  <div class="tittle">memberships</div>
  <ul>
  <li><a [routerLink]="['artists']">Artists</a></li>
   <li><a [routerLink]="['collectors']">Collectors</a></li>
    <li><a [routerLink]="['gallery']">Galleries</a></li>
	 <li><a [routerLink]="['artdealers']">Art Dealers</a></li>
  </ul>
  </div>
  </div> 
    <div class="col-sm-2 footer-col col-three">
    <div class="inner-col">
  <div class="tittle">contact us</div>
<div class="address-des">
<p><a href="mailto:hello@dartakey.com">hello@dartakey.com</a></p><p>PO Box 202
Richmond, 3121 VIC</p>
</div>

  </div>
  </div>
      <div class="col-sm-3 footer-col col-four">
  <div class="footer-social">
  <ul>
  <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></li>
  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></li>
  <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
</a></li>
  <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>
</a></li>
  </ul>
  </div>
  </div>
   </div>
  </div>
  </div>
   <div class="copy-right">
	  <ul><li>Copyright. All Rights Reserved</li> <li><a href="#">site map</a></li> <li><a href="#">conditions of use</a></li> </ul>
	  </div>
	  <div class="back-top"><a class="new" href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>
</div>



 
