	<div class="search-signup-section">
		<div class="search-sec">
			<div class="container">
				<div class="search">
					<form>
						<input class="search_bar" type="search" name="search">
						<input class="search_btn" type="submit" value="Search">
					</form>
				</div><!--search-->

				<div class="section-sign">
					<div class="sign-up-title">
						<h1>sign up</h1>
					</div><!--sign-up-title-->

						
						<div class="signup-form-sec">
								<div class="col-md-6">
									<form>
										<div class="input-group">
											<input class="form-control su-form" text="password" placeholder="choose password">
											<div class="icon">
												<i class="fa fa-question-circle" aria-hidden="true"></i>
												<div class="icon-inner">
													<p>Lorem Ipsum is simply dummy<p>
												</div><!--icon-inner-->
											</div><!--icon-->
										</div><!--input-group-->
										<br>
										<div class="input-group">
											<input class="form-control su-form-two" text="text" placeholder="choose security code">
											<div class="icon-two">
												<i class="fa fa-question-circle" aria-hidden="true"></i>
												<div class="icon-inner-two">
													<p>Lorem Ipsum is simply dummy<p>
												</div><!--icon-inner-->
											</div><!--icon-->
										</div><!--input-group-->
										<br>
										<div class="input-group">
											<input class="form-control su-form" text="text" placeholder="choose username">
										</div><!--input-group-->

										<div class="condition">
											<h2>Read Terms & Condition <i class="fa fa-angle-down"></i></h2>
										</div><!--condition-->

										<div class="condition-inner">
												<p>Conditions of use</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div><!--condition-inner-->

										<!--div class="input-group checkbox">
											<input type="checkbox" name="checkbox"><p> By checking this box, I have read, agree to the terms & condition.</p>
										</div--><!--input-group-checkbox-->
				<div class="form-check input-group checkbox">
				<label>
				<input type="checkbox" name="check" > <p class="label-text">By checking this box, I have read, agree to the terms & condition.</p>
				</label>
				</div>

				<div class="input-group submit">
				<input type="submit" name="submit" value="create profile">
				</div><!--input-group submit-->
				</form>
				</div><!--signup-form-sec-->
				</div>



				</div><!--section-sign-->
			</div><!--container-->
		</div><!--search-sec-->
		
		
		
		
		
		
		
	</div><!--search-signup-section-->