<div class="search-signup-section contact-sec">
		<div class="search-sec">
			<div class="container">
				<div class="search">
					<form>
						<input class="search_bar" type="search" name="search">
						<input class="search_btn" type="submit" value="Search">
					</form>
				</div><!--search-->

				<div class="section-sign contact-section">
					<div class="sign-up-title">
						<h1>contact us.</h1>
					</div><!--sign-up-title-->
					<div class="contact-body">
						<div class="row">
							<div class="col-sm-8">
								<h6> SEND A MESSAGE</h6>								
								<form action="/action_page.php" target="_blank" class="clearfix">
								  <div class="form-group">
								  <input type="text" class="form-control" name="name" placeholder="Your Name">
								  </div>
								  <div class="form-group">
								  <input type="text" class="form-control" name="phone" placeholder="Phone Number">
								  </div>
								  <div class="form-group">
								  <input type="email" class="form-control" name="email" placeholder="Email Address">
								  </div>
								  <div class="form-group">
									<select class="form-control" class="form-control" id="sel1" name="sellist1" >
										<option value="" selected disabled>Enquiry Type</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									  </select>
									</div>
									<div class="form-group">	  
									  <textarea class="form-control" rows="5" id="comment" placeholder="Comments"></textarea>
									</div>
								  
								  <input type="submit" class="contact-send" value="send">
								</form> 
								<div class="news">
									<h5>DARTAKEY NEWS </h5>
									<form>
										<div class="form-group">
										  <input type="email" class="form-control" name="email" placeholder="Email">
										  <input type="submit" class="contact-send" value="➜">
										</div>
									</form>
								</div>
							</div>
							<div class="col-sm-4 conatct-right">
								<h6> MELBOURNE</h6>
								<P> PO Box 1096 <br> Blackburn North,3130 VIC <br> Australia <br> 0404 434 008</P>	
							</div>
						</div>
					</div>					
				</div>



				</div><!--section-sign-->
			</div><!--container-->
		</div><!--search-sec-->
		
		
	