<div class="bg-color">
 <div class="container">
    <div class="member-search">	  
		  <div class="row">
			  <div class="col-sm-4 sign-left">
				  <h3> memberships </h3>
			  </div>
			<div class="col-sm-8 sign-right">
			  <div class="search">
				  <form>
					  <input type="text" placeholder=""/>
					  <input type="submit" value="search"/>
				  </form>
			  </div>
			  </div>
		  </div>	  
	</div>
	<section id="demos" class="member-single">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel-2">
           
            
			<div class="item" id="collector">
              <div class="art-banner">
			    <img src="assets/images/colectr.png">				
			  </div>
			  <div class="inner_title"><h3> Collectors </h3></div>
			  <div class="art-inner">
				<p> Keep track of your collection and <br>authenticate the provenance.</p>
			  </div>
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>2.99 <span> per month  </span><span> or $50 per year </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 10 artworks
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>	
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>4.99 <span> per month  </span><span> or $100 per year </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 25 artworks
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>	
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>9.95 <span> per month  </span><span> or $200 per year </span>
						</div>
						<p class="record-art">
							Unlimited usage
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>			
            </div> <!---collectors section close-->
			
			</div>
		  </div>
 
 
 
  </div>
    </section>
 </div>
 </div>