<div class="bg-color">
 <div class="container">
    <div class="member-search">	  
		  <div class="row">
			  <div class="col-sm-4 sign-left">
				  <h3> memberships </h3>
			  </div>
			<div class="col-sm-8 sign-right">
			  <div class="search">
				  <form>
					  <input type="text" placeholder=""/>
					  <input type="submit" value="search"/>
				  </form>
			  </div>
			  </div>
		  </div>	  
	</div>
	<section id="demos" class="member-single">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel-2">
            
			<div class="item" id="gallery">
              <div class="art-banner">
			    <img src="assets/images/gallery.png">				
			  </div>
			  <div class="inner_title"><h3> Galleries </h3></div>
			  <div class="art-inner">
				<p> Record and manage stock with ease</p>
			  </div>
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>15<span> per month  </span><span> or $150 per year </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 10 artworks
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>	
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>50 <span> per month  </span><span> or $500 per year </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 200 artworks
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>	
<div class="col-sm-4">
				<div class="art-outer">					
						<div class="art-price">
							<sup>$</sup>200 <span> per month  </span><span> or $1500 per year </span>
						</div>
						<p class="record-art">
							Unlimited usage
						</p>					
				</div>
				<div class="member-art-button clearfix">
					<a href="#"> sign up </a>
					<a href="#" class="member-trial"> trial </a>
				</div>
</div>			
            </div> <!---gallery section close-->
			
			
			
			
			
            
          </div>
        </div>
      </div>
    </section>
		
 </div><!--container close-->
</div>	
  