<div class="profile-body">
	<div class="checkout sign-sec">
	  <div class="container">
		  <div class="row">
			  <h3> checkout</h3>		
		  </div>
		<div class="row">
			<h6>YOUR CART </h6>
		</div>
		<div class="cart">
			<p><span></span> 1X Artist Membership</p>
			<p> Record one artist profile and up to 500 artworks</p>	
			<input type="text" value=""	> 					
		</div>
		<div class="select-option">
				<div class="select"> Select one option: </div>
				<div class="select-option-inner">
					<label>
					  <input type="checkbox" name="check">
					  <p class="label-text">$9.99 per month</p>
					</label>
					<label>
					  <input type="checkbox" name="check">
					  <p class="label-text">$100 per year</p>
					</label>
				</div>
				
			</div>
		
		<div class="chekout-buttons">
			<input type="button" value="direct debit">
			<input type="button" value="checkout"><br>
			<input type="button" class="paypal" value="checkout with Paypal">
		</div>
		
	  </div>
	</div>
  
    
		
		
</div>