
<app-header></app-header>
<!-- <h1>Blog Posts</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems">
  <ul>
    <li *ngFor="let p of restItems['posts']" [innerHTML]="p.key">
    </li>
  </ul>
</div>  -->
<!-- <tbody>
          <tr *ngFor="let post of _postsArray">
              <td class="text-center" style="width: 15px">{{post.Id}}</td>
              <td class="text-center" style="width: 15px">{{post.key}}</td>
              
              
          </tr>
        </tbody>-->
		
		<!-- show the success message -->
		<alert></alert>
<router-outlet></router-outlet>

<app-footer></app-footer>
