 <div id="meet">
    <div class="sign-sec">
	  <div class="container">
		  <div class="row">
			  <!--div class="col-sm-4 sign-left">
				  <div class="sign-button">
					<a href="#">sign up</a><a href="#">trial</a>
				  </div>
			  </div-->
			<div class="offset-4 col-8 sign-right">
			  <div class="search">
				  <form>
					  <input type="text" placeholder=""/>
					  <input type="submit" value="search"/>
				  </form>
			  </div>
			  </div>
		  </div>
	  </div>
  </div> 
  

<div id="demo" class="carousel slide meet" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
     <img src="assets/images/banner1.jpg" alt="">	
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner1.jpg" alt="">	
    </div>
    <div class="carousel-item">
      <img src="assets/images/banner1.jpg" alt="">	
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container">
	<div class="col-sm-12">
		<div class="artist-id"><img src="assets/images/artist.png" alt="artist"></div>		
	</div>
	<div class="col-sm-12 meet-content">
		<h2>Meet <b>dartakey</b> </h2>
		<p class="p-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna tellus, eleifend sed mollis in, auctor quis ex. In volutpat libero id lectus condimentum, quis blandit sapien interdum. Nam sit amet risus magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tellus tortor, congue non metus ut, sollicitudin imperdiet libero. Nulla imperdiet interdum tincidunt.  </p>

	</div>
</div>

</div>
  
 