<div class="bg-color">
 <div class="container">
    <div class="member-search">	  
		  <div class="row">
			  <div class="col-sm-4 sign-left">
				  <h3> memberships </h3>
			  </div>
			<div class="col-sm-8 sign-right">
			  <div class="search">
				  <form>
					  <input type="text" placeholder=""/>
					  <input type="submit" value="search"/>
				  </form>
			  </div>
			  </div>
		  </div>	  
	</div>
	<div class="member-data">
		<div class="row row-1">
			<div class="col-sm-4">			
				<div class="art-outer">	
					<a routerLink="/artists"> 			
						<div class="art_img">
							<img src="assets/images/artistt.png">
						</div>
						<div class="title-art">
							<h6> ARTISTS </h6>
						</div>
					</a>
						<div class="art-price">
							<sup>$</sup>2.99 <span> / user / month </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 100 artworks
						</p>
						<div class="member-art-button clearfix">
							<a href="#"> sign up </a>
							<a href="#" class="member-trial"> trial </a>
						</div>		
						<div class="member-free-trial">
							<a href="#"> <sup> *</sup>ONE MONTH FREE TRIAL AVAILABLE </a>
						</div>
				</div>			
			</div><!--close-->
			<div class="col-sm-4">			
				<div class="art-outer">	
					<a routerLink="/collectors">
						<div class="art_img">
							<img src="assets/images/colectr.png">
						</div>
						<div class="title-art">
							<h6> COLLECTORS </h6>
						</div>
					</a>
						<div class="art-price">
							<sup>$</sup>2.99 <span> / user / month </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 100 artworks
						</p>
						<div class="member-art-button clearfix">
							<a href="#"> sign up </a>
							<a href="#" class="member-trial"> trial </a>
						</div>		
						<div class="member-free-trial">
							<a href="#"> <sup> *</sup>ONE MONTH FREE TRIAL AVAILABLE </a>
						</div>
				</div>			
			</div>			
		</div><!--row close -->
		<div class="row row-2">
			<div class="col-sm-4">			
				<div class="art-outer">	
					<a routerLink="/gallery">				
						<div class="art_img">
							<img src="assets/images/gallery.png">
						</div>
						<div class="title-art">
							<h6> GALLERIES </h6>
						</div>
					</a>
						<div class="art-price">
							<sup>$</sup>2.99 <span> / user / month </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 100 artworks
						</p>
						<div class="member-art-button clearfix">
							<a href="#"> sign up </a>
							<a href="#" class="member-trial"> trial </a>
						</div>		
						<div class="member-free-trial">
							<a href="#"> <sup> *</sup>ONE MONTH FREE TRIAL AVAILABLE </a>
						</div>
				</div>			
			</div><!--close-->
			<div class="col-sm-4">			
				<div class="art-outer">	
					<a routerLink="/artdealers">
						<div class="art_img">
							<img src="assets/images/art-dealer.png">
						</div>
						<div class="title-art">
							<h6> ART DEALERS </h6>
						</div>
					</a>
						<div class="art-price">
							<sup>$</sup>2.99 <span> / user / month </span>
						</div>
						<p class="record-art">
							Record one artist profile and up to 100 artworks
						</p>
						<div class="member-art-button clearfix">
							<a href="#"> sign up </a>
							<a href="#" class="member-trial"> trial </a>
						</div>		
						<div class="member-free-trial">
							<a href="#"> <sup> *</sup>ONE MONTH FREE TRIAL AVAILABLE </a>
						</div>
				</div>			
			</div>			
		</div><!--row close -->
		
	</div>
		
		
</div><!--container close-->
</div>	
 